body{
    font-weight: $font_weight;
    font-size: $font_size;
    font-family: $font_family;
    background: $bg_color;
}

.h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #000000;
}
.h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
    text-align: center;
}
.h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
}
.container{
    width: 100%;
    max-width: $xxl;
    margin: 0 auto;
    padding: 0 20px;
}

.avto_link{ // router_link dan foydalanish kk
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #1D6DC3;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
}

.p{
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}