// media 

@mixin media($w) {
    @media (max-width:$w) {
        @content;
    }
}


@mixin xxl($w) {
    @media (max-width:$xxl) {
        @content;
    }
}
@mixin xl($w) {
    @media (max-width:$xl) {
        @content;
    }
}
@mixin lg($w) {
    @media (max-width:$lg) {
        @content;
    }
}
@mixin md($w) {
    @media (max-width:$md) {
        @content;
    }
}
@mixin sm($w) {
    @media (max-width:$sm) {
        @content;
    }
}
