//  container breakpoints 

$xxl:1680px;
$xl: 1150px;
$lg: 970px;
$md: 730px;
$sm: 550px;
$xs: 320px;


// style
$font_size: 18px;
$font_family: 'Montserrat';
$font_weight: 600;


// color

$white:#ffffff;
$black: #000000;
$dark:#081420;
$border_color:#d6d6d6;
$bg_color:#F3F4F6;
$brend_color:#1D68BF;

