.box{
    padding-top: 230px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 31px;
    & .avto_link{
        margin: 0;
        font-size: 20px;
        &:nth-child(1){
            margin-right: 5px;
        }
        &:nth-child(2){
            margin-right: 5px;
        }
    }
}
.h2{
    margin-bottom: 30px;
}
.identifier{
    font-size: 20px;
    color: #808080;
    font-family: 'Circe';
    text-align: center;
}
.praduct{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 58px;
    & .praduct_img{
        margin-right: 40px;
        & .praduct_img_top{
            width: 560px;
            height: 560px;
            margin-bottom: 40px;
            box-sizing: border-box;
            & img{
                height: auto;
                width: 100%;
            }
        }
        & .praduct_img-buttom{
            width: 400px;
            margin: 0 auto;
            & img{
                width: 98px;
                height: 98px;
                margin-left: 25px;
            }
        }
    }
    & .praduct_text{
        width: 657px;
        & h3{
            font-size: 40px;
            font-family: 'Montserrat';
        }
        & span{
            color: #808080;
            font-size: 14px;
            font-family: 'Circe';
        }
        & p{
            font-size: 18px;
            font-family: 'Circe';
        }
        & h4{
            color: #808080;
            font-size: 18px;
            text-decoration: line-through;
            margin-top: 16px;
        }
        & h2{
            color: #1D68BF;
            font-size: 65px;
            font-family: 'Montserrat';
            margin-bottom: 12px;
        }
        & .count{
            display: flex;
            margin-top: 10px;
            margin-bottom: 28px;
            & button{
                border: none;
                outline: none;
                width: 32px;
                height: 32px;
                background: #fff;
                font-size: 16px;
                color: #1D68BF;
                font-family: 'Circe';
                font-weight: bold;
                cursor: pointer;
                
            }
            
            & h3{
                font-size: 16px;
                font-family: 'Circe';
                margin: 0 10px;
                margin-top: 5px;
            }
        }
        & .btns{
            & .blue{
                margin-right: 30px;
            }
        }
        
    }
}
.tasnif{
    margin-top: 85px;
    position: relative;
    padding: 80px 100px;
    background: #fff;
    & .tasnif_title_box{
        position: absolute;
        top: -20px;
        background: #E6E6E6;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        & .tasnif_title{
            width: 280px;
            height: 55px;
            padding: 16px 90px;
            box-sizing: border-box;
            transition:.5s;
            &:hover{
                background: #1D68BF;
                & h3{
                    color: #fff;
                }
            }
            & h3{
                font-size: 16px;
                line-height: 24px;
                font-family: 'Circe';
                color: #1D68BF;
                text-transform: uppercase;
            }
            
        }
        & .avtive{
            background: #1D68BF;
            & h3{
                color: #fff;
            }
        }
    }
    & .tasnif_text{
        display: none;
        & p{
            font-size: 18px;
            line-height: 27px;
            font-family: 'Circe';
            font-weight: 400;
        }
    }
    & .blok{
        display: block;
    }
}
.h3{
    margin-top: 90px;
}