<template>
  <div class="catalog_praduct">
    <navbarr/>
    <div class="box">
         <router-link class="avto_link" to="/">Main Menu </router-link>
         <router-link class="avto_link"  to="/Catalog"> / Catalog </router-link>
         <router-link class="avto_link"  to="/CatalogPraduct"> / {{ post.title }}</router-link>
    </div>
   <h2 class="h2">Product catalog</h2>
   <p class="identifier">Identifier number</p>

    <div class="praduct container">
        <div class="praduct_img">
            <div class="praduct_img_top">
                <img  :src="post.imgUrl" alt="image">
            </div>
            <div class="praduct_img-buttom">
                <img :src="post.imgUrl" alt="image">
                <img :src="post.imgUrl" alt="image">
                <img :src="post.imgUrl" alt="image">
            </div>
        </div>

        <div class="praduct_text">
            <h3 >{{ post.title }}</h3>
            <span>Identifier number</span>
            <h4>{{ post.del_price }}</h4>
            <h2>{{ post.price }}</h2>
            <p>We are idea generators, goal seekers, challenge-thirsty professionals, creators of unique Internet projects. We deliver unconventional solutions each project is a meaningful adventure, in which we become partners with our clients, on the road to perfection. </p>

            <div class="count">
                <button @click="decrement">-</button>
                <h3>{{ value }}</h3>
                <button @click="increment">+</button>
            </div>
            <div class="btns">
                <blue-button class="blue" button_name="Отправить заявку"/>
                <white-button button_name="Добавить в избранное"/>
            </div>
        </div>

        
    </div>

    <div class="tasnif container">
        <div class="tasnif_title_box">
            <div class="tasnif_title" @click="isOpen=!isOpen"
            :class="isOpen ? 'tasnif_title' : 'avtive'">
                <h3>Описание</h3>
            </div>
            <div class="tasnif_title" @click="isOpen=!isOpen"
            :class="isOpen ? 'active' : 'tasnif_title'">
                <h3>ХарактеристикА</h3>
            </div>
        </div>

        <div class="tasnif_text " :class="isOpen ? 'tasnif_text' : 'blok'" >
            <p>
            M-DIAGNOSTIC is a model of a laboratory centrifuge intended primarily for broadly understood diagnostics in both human and veterinary medicine laboratories. This centrifuge is suitable for performing routine tests: complete morphology, biochemistry, coagulation tests, urine, hemato­crit, parasitology, hematology, cancer diagnostics (CYTO), se­men analysis and more. Due to the possibility of centrifugation, including 15 and 50 ml Falcon tubes and 100 ml tubes, it can also be used in laboratories in other fields. M-Diagnostic offers a wide range of accessories (angular and horizontal rotors), its maximum capacity is up to 500ml with speeds up to (RPM) 6,000
            <br> Centrifuge is produced in the ISO management system. It is safe for the patient, User, samples and environment – it has the CE declaration.
            </p>
            <br> <br>
            <p>
            M-DIAGNOSTIC is a model of a laboratory centrifuge intended primarily for broadly understood diagnostics in both human and veterinary medicine laboratories. This centrifuge is suitable for performing routine tests: complete morphology, biochemistry, coagulation tests, urine, hemato­crit, parasitology, hematology, cancer diagnostics (CYTO), se­men analysis and more. Due to the possibility of centrifugation, including 15 and 50 ml Falcon tubes and 100 ml tubes, it can also be used in laboratories in other fields. M-Diagnostic offers a wide range of accessories (angular and horizontal rotors), its maximum capacity is up to 500ml with speeds up to (RPM) 6,000
            <br> Centrifuge is produced in the ISO management system. It is safe for the patient, User, samples and environment – it has the CE declaration.
            </p>
        </div>
        <div class="tasnif_text" :class="isOpen ? 'blok' : 'tasnif_text'" >
           
            <p>
            M-DIAGNOSTIC is a model of a laboratory centrifuge intended primarily for broadly understood diagnostics in both human and veterinary medicine laboratories. This centrifuge is suitable for performing routine tests: complete morphology, biochemistry, coagulation tests, urine, hemato­crit, parasitology, hematology, cancer diagnostics (CYTO), se­men analysis and more. Due to the possibility of centrifugation, including 15 and 50 ml Falcon tubes and 100 ml tubes, it can also be used in laboratories in other fields. M-Diagnostic offers a wide range of accessories (angular and horizontal rotors), its maximum capacity is up to 500ml with speeds up to (RPM) 6,000
            <br> Centrifuge is produced in the ISO management system. It is safe for the patient, User, samples and environment – it has the CE declaration.
            </p>
        </div>
    </div>

    <h3 class="h3">Similar products</h3>
    <div class="container">
       <card-carusel/>
    </div>
    <footerr/>
  </div>
</template>

<script>
import Navbarr from '@/layouts/Navbar/Navbarr.vue'
import Footerr from '@/layouts/Footer/Footerr.vue'
import BlueButton from '@/layouts/BlueButton.vue'
import WhiteButton from '@/layouts/WhiteButton.vue'
import CardCarusel from '@/layouts/CardCarusel.vue'
import card from '@/card.js'

export default {
  components: { Navbarr, Footerr, BlueButton, WhiteButton, CardCarusel },
    data() {
        return {
            cardArr: card,
            postId: this.$route.params.postId,
            isOpen:false,
            value: 0,
        }
    },
    computed: {
        post() {
            console.log(this.cardArr.find(post => post.id === this.postId)+ 'data')
            return this.cardArr.find(post => post.id === this.postId)
        }
    },
    methods: {
		decrement () {
			if (this.value) {
				this.value -= 1;
			}
		},
		increment () {
			this.value += 1;
		}
	},
    
}

</script>

<style src="./CatalogPraduct.scss" lang="scss" scoped></style>