<template>
  <div>
    <navbarr/>
    <div class="box">
         <router-link class="avto_link" to="/">Main Menu </router-link>
         <router-link class="avto_link"  to="/Partners"> / Partners</router-link>
    </div>
   <h2 class="h2">Partners</h2>
  <div class="partners">
    <partners-box :imgUrl="require('@/images/sections/partner.png')" text1="Our company’s main goal is supplying the best to our customers." text2="With this goal our company has been established in 2019 by a group of professionals and surgeons. One of worlds economic hubs,  London has been chosen to be our head office location. In a short time, we have gathered marketing sales teams in Tashkent(Uzbekistan) and Shymkent(Kazakhstan)." />

    <p class="p">In 2020, we have opened our representative offices. In the same year, U.S.IOL has signed partnership contract, meanwhile, Labtronics has become our partner company. Meanwhile, we have signed partnership agreements with a total of 45 public and private clinics, 3 opticians in Uzbekistan and 18 in Kazakhstan. In 2021, a few European and American distributor companies has been merged to our country, giving the opportunity to get in touch with our prospective companies directly.</p>

    <partners-box class="partners-box" :imgUrl="require('@/images/sections/partner.png')" text1="Our company’s main goal is supplying the best to our customers." text2="With this goal our company has been established in 2019 by a group of professionals and surgeons. One of worlds economic hubs,  London has been chosen to be our head office location. In a short time, we have gathered marketing sales teams in Tashkent(Uzbekistan) and Shymkent(Kazakhstan)." />


      <p class="p">
        Since the establishment of our company, we have done more than 1000 surgeries on our patients, more than 5000 lenses have been distributed to our partner clinics  several laboratories has been equipped exclusively by us and prospective representative offices establishment plans has entered our future plans.   
      </p>
      <br>
      <p class="p">Since the establishment of our company, we have done more than 1000 surgeries on our patients, more than 5000 lenses have been distributed to our partner clinics  several laboratories has been equipped exclusively by us and prospective representative offices establishment plans has entered our future plans.   </p>
  </div>
  
   
    <Title :link="partner.title_link" :link_name="partner.title_link_name" :title="partner.title_name"/>

    <div class="logo container">
      <div class="logo_box">
        <img src="@/images/brends/aeomed.png" alt="">
      </div>
      <div class="logo_box">
        <img src="@/images/brends/axion.png" alt="">
      </div>
      <div class="logo_box">
        <img src="@/images/brends/tekno.png" alt="">
      </div>
      <div class="logo_box">
        <img src="@/images/brends/genoray.png" alt="">
      </div>
      <div class="logo_box">
        <img src="@/images/brends/aeomed.png" alt="">
      </div>
      <div class="logo_box">
        <img src="@/images/brends/axion.png" alt="">
      </div>
      <div class="logo_box">
        <img src="@/images/brends/tekno.png" alt="">
      </div>
      <div class="logo_box">
        <img src="@/images/brends/genoray.png" alt="">
      </div>
      <div class="logo_box">
        <img src="@/images/brends/aeomed.png" alt="">
      </div>
      <div class="logo_box">
        <img src="@/images/brends/axion.png" alt="">
      </div>
      <div class="logo_box">
        <img src="@/images/brends/tekno.png" alt="">
      </div>
      <div class="logo_box">
        <img src="@/images/brends/genoray.png" alt="">
      </div>
    </div>


     <router-link class="avto_link" to="/Partners">For new partners</router-link>
   <h2 class="leave">LEAVE A REQUEST</h2> 
   <form class="form ">
      <input type="text" placeholder="Enter your Email ...">
      <input type="text" placeholder="Enter your Phone number">
      <textarea placeholder="Enter your Comments"></textarea>

      <div class="form_buttom">
         <div class="social">
            
            <a href="#">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.0001 0.0625C6.71586 0.0625 0 6.77835 0 15.0626C0 22.4926 5.40783 28.6459 12.4984 29.8374V18.192H8.87992V14.0013H12.4984V10.9113C12.4984 7.3259 14.6882 5.37209 17.8871 5.37209C19.4191 5.37209 20.7357 5.48625 21.1179 5.53653V9.28418L18.8993 9.28526C17.16 9.28526 16.8247 10.1116 16.8247 11.3246V13.9992H20.9748L20.4335 18.1899H16.8247V29.9376C24.2463 29.0343 30 22.7243 30 15.0583C30 6.77835 23.2841 0.0625 15.0001 0.0625Z" fill="#2976E0"/>
              </svg>
            </a>
            <a href="#">
                <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.771 16.9763L11.2747 23.9563C11.9847 23.9563 12.2922 23.6513 12.661 23.285L15.9897 20.1038L22.8872 25.155C24.1522 25.86 25.0435 25.4888 25.3847 23.9913L29.9122 2.77627L29.9135 2.77502C30.3147 0.905018 29.2372 0.173769 28.0047 0.632519L1.39223 10.8213C-0.424016 11.5263 -0.396516 12.5388 1.08348 12.9975L7.88723 15.1138L23.691 5.22502C24.4347 4.73252 25.111 5.00502 24.5547 5.49752L11.771 16.9763Z" fill="#2976E0"/>
                </svg>
            </a>
            <a href="#">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_119_1346)">
              <path d="M29.9926 30V29.9988H30.0001V18.9963C30.0001 13.6138 28.8413 9.46753 22.5488 9.46753C19.5238 9.46753 17.4938 11.1275 16.6651 12.7013H16.5776V9.97003H10.6113V29.9988H16.8238V20.0813C16.8238 17.47 17.3188 14.945 20.5526 14.945C23.7388 14.945 23.7863 17.925 23.7863 20.2488V30H29.9926Z" fill="#2976E0"/>
              <path d="M0.495117 9.97119H6.71512V29.9999H0.495117V9.97119Z" fill="#2976E0"/>
              <path d="M3.6025 0C1.61375 0 0 1.61375 0 3.6025C0 5.59125 1.61375 7.23875 3.6025 7.23875C5.59125 7.23875 7.205 5.59125 7.205 3.6025C7.20375 1.61375 5.59 0 3.6025 0V0Z" fill="#2976E0"/>
              </g>
              <defs>
              <clipPath id="clip0_119_1346">
              <rect width="30" height="30" fill="white"/>
              </clipPath>
              </defs>
              </svg>
            </a>
            <a href="#">
              <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M30 3.69813C28.8844 4.1875 27.6956 4.51187 26.4562 4.66937C27.7312 3.90812 28.7044 2.71187 29.1619 1.27C27.9731 1.97875 26.6606 2.47938 25.2619 2.75875C24.1331 1.55688 22.5244 0.8125 20.7694 0.8125C17.3644 0.8125 14.6231 3.57625 14.6231 6.96438C14.6231 7.45188 14.6644 7.92062 14.7656 8.36687C9.6525 8.1175 5.12813 5.66688 2.08875 1.93375C1.55812 2.85438 1.24688 3.90812 1.24688 5.0425C1.24688 7.1725 2.34375 9.06063 3.97875 10.1537C2.99062 10.135 2.02125 9.84813 1.2 9.39625C1.2 9.415 1.2 9.43937 1.2 9.46375C1.2 12.4525 3.33187 14.935 6.1275 15.5069C5.62687 15.6438 5.08125 15.7094 4.515 15.7094C4.12125 15.7094 3.72375 15.6869 3.35062 15.6044C4.1475 18.04 6.40875 19.8306 9.0975 19.8888C7.005 21.5256 4.34812 22.5119 1.47188 22.5119C0.9675 22.5119 0.48375 22.4894 0 22.4275C2.72438 24.1844 5.95312 25.1875 9.435 25.1875C20.7525 25.1875 26.94 15.8125 26.94 7.68625C26.94 7.41437 26.9306 7.15188 26.9175 6.89125C28.1381 6.025 29.1637 4.94313 30 3.69813Z" fill="#2976E0"/>
              </svg>
            </a>
        </div>  
        <blue-button button_name="Send"/>
      </div>      
   </form>
   
   <footerr/>
  </div>
</template>

<script>
import Navbarr from '@/layouts/Navbar/Navbarr.vue'
import PartnersBox from '@/layouts/PartnersBox.vue'
import Footerr from '@/layouts/Footer/Footerr.vue'
import BlueButton from '@/layouts/BlueButton.vue'
import Title from '@/layouts/Title.vue'
export default {
  components: { Navbarr, PartnersBox, Footerr, BlueButton, Title },
  data() {
    return{
      partner: {
        title_link: '/',
        title_link_name: 'Partners',
        title_name:'Our long-term friends and partners',
      },
    }
  }
}
</script>

<style src="./Partners.scss" lang="scss">

</style>