.box{
    padding-top: 230px;
    width: 230px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 31px;
    & .avto_link{
        margin: 0;
        font-size: 20px;
        &:nth-child(1){
            margin-right: 5px;
        }
    }
}
.h2{
    margin-bottom: 46px;
}
.partners{
    width: 1360px;
    margin: 0 auto;
    & .partners-box{
        flex-direction: row-reverse;
    }
    & .p{
        font-size: 25px;
        line-height: 37px;
        font-weight: 400;
    }
}

.avto_link{
    margin-top: 54px;
}
.h3{
    margin-top: 40px;
}
.leave{
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    text-align: center;
    margin-bottom: 50px;
}
.logo{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 120px;
    row-gap: 48px;
    & .logo_box{
        width: 270px;
        height: 126px;
    }
}

.form{
    width: 910px;
    margin: 0 auto;
    box-sizing: border-box;
    & input, textarea{
        width: 100%;
        border: none;
        outline: none;
        background: #fff;
        border-radius: 10px;
        padding: 22px 43px;
        font-size: 25px;
        line-height: 37px;
        font-family: 'Circe';
        transition: .3s all;
        &::placeholder{
            color: #B9B9B9;
            font-size: 25px;
            line-height: 37px;
            font-family: 'Circe';
        }
        &:hover{
            box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.2);
        }
        &:focus{
            box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.2);
        }
    }
    & input{
        height: 75px;
        margin-bottom: 30px;
    }
    & textarea{
        height: 246px;
        resize: none;
    }
    & .form_buttom{
        width: 100%;
        display: flex;
        margin-top: 48px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & .social{
            width: 240px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            & a{
                transition: .3s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}