
// Montserrat 
@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

//  Circe 
@font-face {
    font-family: 'Circe';
    src: url(./fonts/Circe/circe-light.ttf);
    font-weight: 400;
}