.header{
    width: 100%;
    transition: .5s;
    position: absolute;
    z-index: 2;
    &.scrolled{
        background: #ecececde;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;      
        position: fixed;
        height: 100px;
    }
    & .header_container{
        font-family: 'Montserrat';
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 160px;
        .navbar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & .menu{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                & li{
                    margin-left: 61px;
                    & a{
                        font-size: 20px;
                        line-height: 24px;
                        font-family: 'Montserrat';
                        color: black;
                    }
                    .active{
                        color: #006ACB;
                    }
                }
            }
            & .logo{
                & h2{
                    font-family: 'Montserrat';
                    font-size: 30px;
                    line-height: 37px;
                    color: #000000;
                    margin: 0;
                }

            }
            & .router-link-active{
                width: 100px;
            }

            & .burger{
                width: 30px;
                height: 30px;
                border: 1px solid #ececec;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                position: relative;
                z-index: 999;
                &.active{
                    color: aqua;
                    border-color: aqua;
                 }
            }
            & .mobile_menu{
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                background: #000;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                opacity: 0;
                pointer-events: none;
                transition: 0.5s;
                &.active{
                    opacity: 1;
                    pointer-events: all;
                }
                & .link{
                    font-size: 25px;
                    padding: 20px;
                }
              }

        }
        & .search_lang_box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            & .search{
                margin-right: 30px;
                & .fa-search{
                    margin-top: 8px;
                    font-size: 22px;
                } 
            }
        }
    }
}