<template>
  <header class="header" :class="{scrolled: isScrolled}">
    <div class="header_container container">
        <nav class="navbar">
            <router-link to="/" class="logo">
                <h2>ITlab</h2>
            </router-link>

            <ul class="menu" v-if="!isMobile">
                <li v-for="(list, i) in manu_arry" 
                    :key="i"
                >
                    <router-link :to="{ name: list.link}"
                    active-class="active"
                    >{{ list.text }}</router-link>
                </li>
            </ul>

           <div v-if="isMobile" class="burger" :class="{ active: isOpen }" @click="isOpen=!isOpen" >
                <span v-if="!isOpen">&#9776;</span>
                <span v-if="isOpen">&#10006;</span>
            </div>

            <ul class="mobile_menu " :class="{ active: isOpen }"  v-if="isMobile">
                <li v-for="list in manu_arry" :key="list.text">
                   <router-link :to="{ name: list.link}">{{ list.text }}</router-link>
                </li>
            </ul>

            
        </nav>
        <div class="search_lang_box">
            <div class="search">
                <i class="fas fa-search"></i>
            </div>
            <language/>
        </div>
        
    </div>
  </header>
</template>

<script>
import Language from '../Language.vue'
export default {
  components: { Language },
    data() {
        return{
            isMobile: false,
            isOpen: false,
            isScrolled: false,
            activeBtn: '',
            manu_arry:[
                {
                    text: 'About us',
                    link: 'About'
                },
                {
                    text: 'Catalog',
                    link: 'Catalog'
                },
                {
                    text: 'Partners',
                    link: 'Partners'
                },
                {
                    text: 'Blog',
                    link: 'Blog'
                },
                {
                    text: 'Contact Us',
                    link: 'Contact'
                },
            ],
            
        }
    },
    methods: {
        checkScreen(){
            const windowWidth = window.innerWidth
            if(windowWidth <= 600){
                this.isMobile = true
                return
            }
            this.isMobile = false
            this.isOpen = false
        }
    },
    mounted(){
        this.checkScreen()
        window.addEventListener('resize', this.checkScreen)
        window.addEventListener('scroll', () => {
            if(pageYOffset > 0){
                this.isScrolled = true
                return
            }

            this.isScrolled = false
        })
    }
}
</script>

<style  lang="scss">
@import "./Navbar.scss";
</style>