<template>
    <div class="card">
        <div class="card_img">
          <img :src="imgUrl" alt="image" />
        </div>
        <div class="card_text">
          <h3>{{ title }}</h3>
          <span>{{ text }} </span>
          <p>{{ oldPrice }}</p>
          <div class="price_box">
            <h2>{{ price }}</h2>
             <button @click="$emit('cardClick')">
             <svg width="31" height="39" viewBox="0 0 31 39"      fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M26.75 8.25H23C23 4.10625 19.6437 0.75 15.5 0.75C11.3562 0.75 8 4.10625 8 8.25H4.25C2.1875 8.25 0.5 9.9375 0.5 12V34.5C0.5 36.5625 2.1875 38.25 4.25 38.25H26.75C28.8125 38.25 30.5 36.5625 30.5 34.5V12C30.5 9.9375 28.8125 8.25 26.75 8.25ZM15.5 4.5C17.5625 4.5 19.25 6.1875 19.25 8.25H11.75C11.75 6.1875 13.4375 4.5 15.5 4.5ZM26.75 34.5H4.25V12H8V15.75C8 16.7813 8.84375 17.625 9.875 17.625C10.9062 17.625 11.75 16.7813 11.75 15.75V12H19.25V15.75C19.25 16.7813 20.0937 17.625 21.125 17.625C22.1562 17.625 23 16.7813 23 15.75V12H26.75V34.5Z" fill="#CDCDCD"/>
              </svg>
             </button>
          </div>
        </div>
    </div>
    
</template>

<script>
import card from '@/card.js'
export default {
  name:'Cards',
    props: {
        imgUrl: String,
        title: String,
        text: String,
        oldPrice: String,
        price: String,
    },
    data(){
        return{
            card_arr: card,
        }
    },

}
</script>

<style src="./Cards.scss" lang="scss">
</style>