
.card{
    width: 380px;
    height: 450px;
    border-radius: 10px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: .3s;
    &:hover{
      box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.2);
    }
    & .card_img{
      padding-top: 30px;
      text-align: center;
      height: 220px;
    }
    & .card_text{
      padding: 32px;
      text-align: left;
      & h3{
        font-size: 18px;
        font-family: 'Montserrat';
        margin-bottom: 6px;
        font-weight: 600;
        margin-top: 15px;
        color: #000;
      }
      & span{
        font-family: 'Circe';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #808080;
        opacity: 0.7;
      }
      & p{
        margin-top: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #808080;
        text-decoration: line-through;
        font-family: 'Montserrat';
      }
      & .price_box{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        & h2{
          font-size: 43px;
          color: #1D68BF;
          font-family: 'Montserrat';
        }
        & button{
          border: none;
          outline: none;
          background: transparent;
        }
        & svg{
          & path{
            transition: .3s;
            }
          &:hover{
            cursor: pointer;
            & path{
              fill: #1d68bf;
            }
          }
        }
        
      }
    }
  }