<template>
  <div>
    <navbarr/>
    <div class="box">
         <router-link class="avto_link" to="/">Main Menu </router-link>
         <router-link class="avto_link"  to="/Catalog"> / Catalog</router-link>
    </div>
   <h2 class="h2">Product catalog</h2>

   
   <div class="catalog_carusel container">
      <catalog-carusel/>
   </div>
   <p class="info_p">1 063 products in our system</p>

   <div class="cort container">
      <div class="cort_left">
          <div class="panel_box">
            
            <div class="panel_titie">
              <p>Filter</p>
              <svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.66667 14.75H13.3333V12.3333H8.66667V14.75ZM0.5 0.25V2.66667H21.5V0.25H0.5ZM4 8.70833H18V6.29167H4V8.70833Z" fill="#1D68BF"/>
              </svg>

              
            </div>
            <div class="panel">
            </div>
          </div>
          <div class="panel_box">
            <div class="panel_titie">
              <p>Sort by</p>
              <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 9L0.138783 5.20717e-07L14.8612 1.80779e-06L7.5 9Z" fill="#1D68BF"/>
              </svg>
            </div>
            <div class="panel">
            </div>
          </div>
          <div class="panel_box">
            <div class="panel_titie">
              <p>Popular</p>
              <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 9L0.138783 5.20717e-07L14.8612 1.80779e-06L7.5 9Z" fill="#1D68BF"/>
              </svg>
            </div>
            <div class="panel">
            </div>
          </div>
      </div>
      <div class="cort_reight">
        <button class="btn">
          <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 0V4H17V0H5ZM5 14H17V10H5V14ZM5 9H17V5H5V9ZM0 4H4V0H0V4ZM0 14H4V10H0V14ZM0 9H4V5H0V9Z" fill="#7A7A7A"/>
          </svg>

        </button>
        <button class="btn btn_active">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H8V0H0V8ZM0 18H8V10H0V18ZM10 18H18V10H10V18ZM10 0V8H18V0" fill="white"/>
          </svg>

        </button>
      </div>
     
   </div>

  <div class="cards container">
     <Cards 
        v-for="item in card_arr"
        :key="item.id"
        :imgUrl="item.imgUrl"
        :oldPrice="item.del_price"
        :price="item.price"
        :text="item.text"
        :title="item.title"
        @cardClick="$router.push({ name: 'CatalogPraduct', params: {postId: item.id} })"
     />
      <!-- <div class="text-center">
        <v-pagination
          v-model="page"
          :length="6"
        ></v-pagination>
      </div> -->
  </div>
  
  <h3 class="h3">Popular products</h3>
  <div class="carusell container">
     <card-carusel/>
  </div>

  <footerr/>
  </div>
</template>

<script>
import Navbarr from '@/layouts/Navbar/Navbarr.vue'
import Cards from '@/layouts/Cards/Cards.vue';
import Footerr from '@/layouts/Footer/Footerr.vue';
import CardCarusel from '@/layouts/CardCarusel.vue';
import CatalogCarusel from '@/layouts/CatalogCarusel.vue';
import card from '@/card.js' 
export default {
  components: { Navbarr, Footerr, CardCarusel, CatalogCarusel, Cards, },
   data() {
    return {
        card_arr: card,
        // page: 5,
        // perPage: this.card_arr,
    };
  },
  // computed: {
  //   currentCards() {
  //     this.card_arr.slice((this.page - 1 * this.perPage), this.page * this.perPage)
  //   }
  // }
}
</script>

<style src="./Catalog.scss" lang="scss" scoped></style>