.box{
    padding-top: 230px;
    width: 220px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 31px;
    & .avto_link{
        margin: 0;
        font-size: 20px;
        &:nth-child(1){
            margin-right: 5px;
        }
    }
}
.h2{
    margin-bottom: 46px;
}



.info_p{
    color: #888888;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 100px;
}
.cort{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-top: 31px;
    & .cort_left{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        & .panel_box{
            width: 264px;
            height: 50px;
            background: #FFFFFF;
            margin-right: 20px;
            & .panel_titie{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center; 
                padding: 14px 29px;
                cursor: pointer;
                
                & p{
                    font-weight: 600;
                    font-size: 15px;
                    font-family: 'Montserrat'; 
                    color: #1D68BF;
                }
            }
        }
    }
    & .cort_reight{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & .btn{
            border: none;
            outline: none;
            border-radius: 4px;
            width: 83px;
            height: 45px;
            background: transparent;
            margin-left: 5px;
            padding-top: 5px;
        }
        & .btn_active{
            background: #1D68BF;
        }
    }
}

.cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    & .card_parent{
        height: 460px;
        
    }
}
.h3{
    margin-top: 150px;
    margin-bottom: 60px;
}