<template>
  <div>
    <navbarr/>
    <div class="box">
          <router-link class="avto_link" to="/">Main Menu </router-link>
         <router-link class="avto_link"  to="/Blog"> / Blog</router-link>
    </div>
   <h2 class="h2">Blog</h2>
   <div class="cort container">
      <div class="cort_left">
          <div class="panel_box">
            
            <div class="panel_titie">
              <p>Filter</p>
              <svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.66667 14.75H13.3333V12.3333H8.66667V14.75ZM0.5 0.25V2.66667H21.5V0.25H0.5ZM4 8.70833H18V6.29167H4V8.70833Z" fill="#1D68BF"/>
              </svg>

              
            </div>
            <div class="panel">
              <!-- <p> a -> z</p>
              <p> z -> a</p> -->
            </div>
          </div>
          <div class="panel_box">
            <div class="panel_titie">
              <p>Sort by</p>
              <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 9L0.138783 5.20717e-07L14.8612 1.80779e-06L7.5 9Z" fill="#1D68BF"/>
              </svg>
            </div>
            <div class="panel">
             <!-- <p> a -> z</p>
             <p> z -> a</p> -->
            </div>
          </div>
          <div class="panel_box">
            <div class="panel_titie">
              <p>Popular</p>
              <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 9L0.138783 5.20717e-07L14.8612 1.80779e-06L7.5 9Z" fill="#1D68BF"/>
              </svg>
            </div>
            <div class="panel">
             <!-- <p> a -> z</p>
             <p> z -> a</p> -->
            </div>
          </div>
      </div>
      <div class="cort_reight">
        <button class="btn"  @click="exchange" :class="{btn_active: !isExchange}">
          <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 0V4H17V0H5ZM5 14H17V10H5V14ZM5 9H17V5H5V9ZM0 4H4V0H0V4ZM0 14H4V10H0V14ZM0 9H4V5H0V9Z" fill="#7A7A7A"/>
          </svg>

        </button>
        <button class="btn" @click="exchange" :class="{btn_active: isExchange}">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H8V0H0V8ZM0 18H8V10H0V18ZM10 18H18V10H10V18ZM10 0V8H18V0" fill="#7A7A7A"/>
          </svg>

        </button>
      </div>
     
   </div>

   <div class="blog_card_box container" :class="{blog_card_box_colum: !isExchange}">
      <router-link to="/BlogInfo" v-for="(item, i) in blog_arr" 
      :key="i"
      >
        <blog-card :data="item.data" :text="item.text" :scrURL="item.scrURL"
        :class="{blog_card2: !isExchange}"/>
      </router-link>
   </div>
   <footerr/>
  </div>
</template>

<script>
import Navbarr from '@/layouts/Navbar/Navbarr.vue'
import BlogCard from '@/layouts/BlogCard.vue'
import Footerr from '@/layouts/Footer/Footerr.vue'
export default {
  components: { Navbarr, BlogCard, Footerr },

  data(){
    return{
      isExchange:true,
      blog_arr:[
        {
          data: 'April 1, 2020',
          text:"The cardiologist told how to protect yourself from blood clots in the heat  1",
          scrURL:require('@/images/products/blog1 (1).png')
        },
        {
          data: 'April 1, 2020',
          text:"The cardiologist told how to protect yourself from blood clots in the heat  2",
          scrURL:require('@/images/products/blog1 (2).png')
        },
        {
          data: 'April 1, 2020',
          text:"The cardiologist told how to protect yourself from blood clots in the heat  3",
          scrURL:require('@/images/products/blog1 (3).png')
        },
        {
          data: 'April 1, 2020',
          text:"The cardiologist told how to protect yourself from blood clots in the heat  4",
          scrURL:require('@/images/products/blog1 (2).png')
        },
        {
          data: 'April 1, 2020',
          text:"The cardiologist told how to protect yourself from blood clots in the heat  5",
          scrURL:require('@/images/products/blog1 (1).png')
        },
        {
          data: 'April 1, 2020',
          text:"The cardiologist told how to protect yourself from blood clots in the heat  6",
          scrURL:require('@/images/products/blog1 (2).png')
        },
        {
          data: 'April 1, 2020',
          text:"The cardiologist told how to protect yourself from blood clots in the heat  7",
          scrURL:require('@/images/products/blog1 (3).png')
        },
        {
          data: 'April 1, 2020',
          text:"The cardiologist told how to protect yourself from blood clots in the heat  8",
          scrURL:require('@/images/products/blog1 (2).png')
        },
        {
          data: 'April 1, 2020',
          text:"The cardiologist told how to protect yourself from blood clots in the heat  9",
          scrURL:require('@/images/products/blog1 (3).png')
        },
      ]
    }
  },
  methods:{
    exchange(){
      this.isExchange = !this.isExchange;
      console.log('dkankjs')
    }
  }
}
</script>

<style src="./Blog.scss" lang="scss" scoped>

</style>