.box {
  padding-top: 230px;
  width: 190px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 31px;
}
.box .avto_link {
  margin: 0;
  font-size: 20px;
}
.box .avto_link:nth-child(1) {
  margin-right: 5px;
}

.h2 {
  margin-bottom: 46px;
}

.cort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
}
.cort .cort_left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cort .cort_left .panel_box {
  width: 264px;
  height: 50px;
  background: #FFFFFF;
  margin-right: 20px;
}
.cort .cort_left .panel_box .panel_titie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 29px;
  cursor: pointer;
}
.cort .cort_left .panel_box .panel_titie p {
  font-weight: 600;
  font-size: 15px;
  font-family: "Montserrat";
  color: #1D68BF;
}
.cort .cort_reight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cort .cort_reight .btn {
  border: none;
  outline: none;
  border-radius: 4px;
  width: 83px;
  height: 45px;
  background: transparent;
  margin-left: 5px;
  padding-top: 5px;
  cursor: pointer;
}
.cort .cort_reight .btn_active {
  background: #1D68BF;
}
.cort .cort_reight .btn_active svg path {
  fill: #FFFFFF;
}

.blog_card_box {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 45px;
  margin-top: 56px;
}

.blog_card_box_colum {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  gap: 45px;
  margin-top: 56px;
}/*# sourceMappingURL=Blog.css.map */