<template>
  <div>
    <navbarr/>
    <div class="box">
         <router-link class="avto_link" to="/">Main Menu </router-link>
         <router-link class="avto_link"  to="/Contact"> / Contact us</router-link>
    </div>
   <h2 class="h2">Contact us</h2>

   <contact-info/>

   <footerr/>
  </div>
</template>

<script>
import Navbarr from '@/layouts/Navbar/Navbarr.vue'
import ContactInfo from '@/layouts/ContactInfo.vue'
import Footerr from '@/layouts/Footer/Footerr.vue'
export default {
  components: { Navbarr, ContactInfo, Footerr },

}
</script>

<style src="./Contact.scss" lang="scss" scoped>

</style>