<template>
  <div>
    <navbarr/>
    <div class="box">
         <router-link class="avto_link" to="/">Main Menu </router-link>
         <router-link class="avto_link"  to="/About"> / About us</router-link>
    </div>
   <h2 class="h2">About us</h2>

    <about-card @action="setIndex"/>

    <about-history :class="activeIndex === 0 ? 'd_blok' : 'about_history'"/>

    <about-team :class="activeIndex === 1 ? 'd_blok' : 'about_team'"/>

    <about-mission :class="activeIndex === 2 ? 'd_blok' : 'about_mession'"/>
   <footerr/>
  </div>
</template>

<script>
import Navbarr from '@/layouts/Navbar/Navbarr.vue'
import AboutCard from '@/layouts/AboutCard.vue'
import AboutHistory from '@/layouts/AboutHistory.vue'
import Footerr from '@/layouts/Footer/Footerr.vue'
import AboutTeam from '@/layouts/AboutTeam.vue'
import AboutMission from '@/layouts/AboutMission.vue'
export default {
  components: { Navbarr, AboutCard, AboutHistory, Footerr, AboutTeam, AboutMission },
  data(){
    return{
      activeIndex: 0,
      card_arr:[
        {
          title: 'History of the company',
          text: "When, while lovely valley teems with vapour around meand",
        },
        {
          title: 'Our Team',
          text: "When, while lovely valley teems with vapour around meand",
        },
        {
          title: 'Our goal and mission',
          text: "When, while lovely valley teems with vapour around meand",
        },
      ]
    }
  },
  methods:{
    setIndex(idx){
      this.activeIndex = idx
    }
  },
  provide(){
    return{
      cardInfo: this.card_arr
    }
  }
}
</script>

<style src="./About.scss" lang="scss" scoped></style>