.h2{
    text-transform: capitalize;
}
.blog_info_box{
    width: 1360px;
    margin: 0 auto;
    & .p{
        font-size: 25px;
        line-height: 37px;
        font-weight: 200;
        margin-bottom: 40px;
    }
    & .partners-box{
        flex-direction: row-reverse;
    }
    & .blog_info_img{
        margin-top: 60px;
        width: 100%;
        height: 300px;
        margin-bottom: 40px;
    }
}