.home{
    margin: 0 auto;
    & .home_header{
        padding-top: 160px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        position: relative;
        
        &::after{
            position: absolute;
            content: '';
            width: 700px;
            height: 1000px;
            top: 0;
            right: -140px;
            background-image: url('@/images/sections/home_bg.png');
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center center;
            z-index: -1;
        }
        & .home_header_img{
            margin-left: 56px;
            margin-top: 100px;
            margin-bottom: 236px;
            & img{
                border-radius: 10px;
            }
        }
        & .home_header_icons{
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 110px;
            margin-top: 20px;
            & a{
                margin-bottom: 47px;
                &:nth-child(5){
                    margin-bottom: 0;
                }
                & img{
                    transition: .3s;
                }
                &:hover{
                    & img{

                        transform: scale(1.1);
                    }
                }
            }
        }
        
    }

    & .container{
        // width: 1680px;
        & .partners{
            width: 1680px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center ;
            margin-bottom: 120px;
            & .partners_text{
                margin-top: 150px;
                & .buttons{
                    & .white_button{
                        display: none !important    ;
                    }
                }
                & .h1{
                    margin-bottom: 30px;
                }
                & .p{
                    margin-bottom: 50px;
                }
            }
            & .partners_img{
                margin-left: 127px;
                width: 796px;
                margin-top: 200px;
                & img{
                    border-radius: 10px;
                    width: 796px;
                    height: 305px;
                    &:nth-child(1){
                        margin-bottom: 40px;
                    }
                }
            }
        }
       
    }
    & .blog{
        
        & .blog_box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
        }
        & .blog_btn{
            display: block;
            margin: 0 auto;
            margin-top: 51px;
        }
    }
    
}

// RESPONSIVE 
@media screen and (max-width:1890px) {
    
}