<template>
  <div class="home">
    <navbarr/>
    <div class="home_header container">
      <home-header-text name='Get Started & Work with Us.' text='When, while lovely valley teems with vapour around meand meridiansun strikes the upper impenetrable . foliage of my trees, and but a thousand. unknown plants are noticed by when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies' link_name="Get Started" button_name="Catalog"/>
      <div class="home_header_img">
        <img  src="@/images/sections/main.png" alt="">
      </div>
      <div class="home_header_icons">
        <a href="#">
          <img src="@/images/icons/facebook.svg" alt="facebook">
         </a>
            
         <a href="#">
            <img src="@/images/icons/telegram.svg" alt="telegram">
         </a>
         <a href="#">
          <img src="@/images/icons/linkedin 1.svg" alt="linkedin">
         </a>
         <a href="#">
          <img src="@/images/icons/twitter.svg" alt="twitter">
         </a>
       
      </div>
    </div>
    <Title :link="partners.title_link" :link_name="partners.title_link_name" :title="partners.title_name"/>
    <div class="container">
      <carousel/>

      <div class="partners">
        <home-header-text class="partners_text" name='An Exceptionall Unique Experience
        Tailored To You ' text='We are idea generators, goal seekers, challenge-thirsty professionals, creators of unique Internet projects. We deliver unconventional solutions each project is a meaningful adventure, in which we become partners with our clients, on the road to perfection. ' link_name="Why  choose us" />
        <div class="partners_img">
          <img  src="@/images/sections/img1.png" alt="">
          <img  src="@/images/sections/img2.png" alt="">
        </div>
      </div>
      
      <Title :link="praduct.title_link" :link_name="praduct.title_link_name" :title="praduct.title_name"/>

      <card-carusel/>
    </div>

    <customer/>

    <div class="blog container">
        <Title :link="blog.title_link" :link_name="blog.title_link_name" :title="blog.title_name"/>
      <div class="blog_box">
        <blog-card data="April 1, 2020" text="The cardiologist told how to protect yourself from blood clots in the heat" :scrURL="require('@/images/products/blog1 (1).png')"/>
        <blog-card data="April 1, 2020" text="The cardiologist told how to protect yourself from blood clots in the heat" :scrURL="require('@/images/products/blog1 (2).png')"/>
        <blog-card data="April 1, 2020" text="The cardiologist told how to protect yourself from blood clots in the heat" :scrURL="require('@/images/products/blog1 (3).png')"/>
      </div>

      <router-link to="/Blog">
        <white-button  class="blog_btn" button_name="Show more"/>
      </router-link>
      
    </div>

    <footerr/>
  </div>
</template>

<script>
import Navbarr from '@/layouts/Navbar/Navbarr.vue'
import HomeHeaderText from '@/layouts/HomeHeaderText.vue'
import Carousel from '@/layouts/Carousel.vue'
import CardCarusel from '@/layouts/CardCarusel.vue'
import Footerr from '@/layouts/Footer/Footerr.vue'
import Cards from '@/layouts/Cards/Cards.vue'
import Customer from '@/layouts/Customer.vue'
import BlogCard from '@/layouts/BlogCard.vue'
import WhiteButton from '@/layouts/WhiteButton.vue'
import Title from '@/layouts/Title.vue'

export default {
  components: { Navbarr, HomeHeaderText, Carousel, CardCarusel, Footerr, Cards, Customer, BlogCard, WhiteButton, Title,},
  data() {
    return{
      partners: {
        title_link: '/Partners',
        title_link_name: 'Partners',
        title_name:'Our new partner',
      },
      praduct: {
        title_link: '/Catalog',
        title_link_name: 'Our Products',
        title_name:'Top products that have won the hearts of our customers',
      },
      blog: {
        title_link: '/Blog',
        title_link_name: 'Blog',
        title_name:'Latest News',
      },
      
    }
  }
}
</script>

<style src="./Home.scss" lang="scss" ></style>