<template>
  <div id="app">
    <router-view/>
  </div>

</template>

<script>
export default {
  
}
</script>

<style lang="scss">
@import './fonts/_fonts.scss';
@import './styles/main.scss';
*{
  box-sizing: border-box;
}
</style>
