<template>
    <div class="about_card_parent container">
        <div class="about_card" v-for="(cards, idx) in cardInfo" :key="idx"
        :class="{ about_card_active: activeBtn === idx }"
        @click="setActive( idx )"
        >
            <h3>{{ cards.title }}</h3>
            <p>{{ cards.text }}</p>
        </div>
    </div>
  
</template>

<script>
export default {
    // props:{
    //     title:{
    //         type:String,
    //         default: ''
    //     },
    //     text:{
    //         type:String,
    //         default: ''
    //     },
    // },
    inject: ['cardInfo'],
    data(){
        return{
            activeBtn: 0,
        }
    },
    methods:{
        setActive(idx){
            this.activeBtn = idx
            this.$emit('action', idx)
        }
    }
}
</script>

<style lang="scss" scoped>
.about_card_parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    & .about_card{
        width: 520px;
        height: 230px;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 55px 82px;
        transition: .4s;
        cursor: pointer;
        & h3{
            font-size: 25px;
            line-height: 30px;
            font-family: 'Montserrat';
            margin-bottom: 29px;
        }
        & p{
            font-size: 18px;
            line-height: 27px;
            font-family: 'Circe';
            letter-spacing: .9px;
        }
    }
    & .about_card_active{
        background: #2268C8;
        box-shadow: -10px 40px 60px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        transform: translateY(-5px);
    }
}

</style>