<template>
  <div class="about_mession container">
    <h2>Our goals</h2>
    <div class="mession_box_parent">
        <div class="mession_box">
            <div class="mession_box_img">
                <img  src="@/images/sections/goal.jpg" alt="">
            </div>
            <div class="mession_box_text">
                <p>Our company’s main goal is supplying the best to our customers.</p>
                <p> With this goal our company has been established in 2019 by a group of professionals and surgeons</p>
            </div>
        </div>
        <div class="mession_box">
            <div class="mession_box_img">
                <img  src="@/images/sections/goal.jpg" alt="">
            </div>
            <div class="mession_box_text">
                <p>Our company’s main goal is supplying the best to our customers.</p>
                <p> With this goal our company has been established in 2019 by a group of professionals and surgeons. One of worlds economic hubs, London has been chosen to be our head office location.</p>
            </div>
        </div>
        <div class="mession_box">
            <div class="mession_box_img">
                <img  src="@/images/sections/goal.jpg" alt="">
            </div>
            <div class="mession_box_text">
                <p>Our company’s main goal is supplying the best to our customers.</p>
                <p> With this goal our company has been established in 2019 by a group of professionals and surgeons</p>
            </div>
        </div>
        <div class="mession_box">
            <div class="mession_box_img">
                <img  src="@/images/sections/goal.jpg" alt="">
            </div>
            <div class="mession_box_text">
                <p>Our company’s main goal is supplying the best to our customers.</p>
                <p> With this goal our company has been established in 2019 by a group of professionals and surgeons. One of worlds economic hubs, London has been chosen to be our head office location.</p>
            </div>
        </div>
    </div>

    <h2>Our mission</h2>
    <div class="our_mission">
        <p>In 2020, we have opened our representative offices. In the same year, U.S.IOL has signed partnership contract, meanwhile, Labtronics has become our partner company. Meanwhile, we have signed partnership agreements with a total of 45 public and private clinics, 3 opticians in Uzbekistan and 18 in Kazakhstan. In 2021, a few European and American distributor companies has been merged to our country, giving the opportunity to get in touch with our prospective companies directly.</p>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.about_mession{
    // width: 1360px;
    display: none;
    padding-left: 140px;
    margin: 0 auto;
    & h2{
        font-size: 35px;
        line-height: 52px;
        text-transform: uppercase;
        margin-bottom: 40px;
        font-family: 'Circe';
    }
    & .mession_box_parent{
        & .mession_box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 86px;
            height: auto;
            & .mession_box_img{
                width: 100px;
                height: 100px;
                overflow: hidden;
                margin-right: 54px;
                & img{
                    width: 100%;
                    height: 100%;
                }
            }
            & .mession_box_text{
                & p{
                    font-size: 25px;
                    line-height: 37px;
                    font-family: 'Circe';
                    width: 1340px;
                }
            }
        }
    }
    & .our_mission{
         & p{
            font-size: 25px;
            line-height: 37px;
            font-family: 'Circe';
            width: 1340px;
        }
    }
}
.d_blok{
    display: block;
}
</style>