<template>
  <div class="about_history">
    <partners-box :imgUrl="require('@/images/sections/partner.png')" text1="Our company’s main goal is supplying the best to our customers." text2="With this goal our company has been established in 2019 by a group of professionals and surgeons. One of worlds economic hubs,  London has been chosen to be our head office location. In a short time, we have gathered marketing sales teams in Tashkent(Uzbekistan) and Shymkent(Kazakhstan)." />
    <p class="p">In 2020, we have opened our representative offices. In the same year, U.S.IOL has signed partnership contract, meanwhile, Labtronics has become our partner company. Meanwhile, we have signed partnership agreements with a total of 45 public and private clinics, 3 opticians in Uzbekistan and 18 in Kazakhstan. In 2021, a few European and American distributor companies has been merged to our country, giving the opportunity to get in touch with our prospective companies directly.</p>

    <partners-box class="partners-box" :imgUrl="require('@/images/sections/partner.png')" text1="Our company’s main goal is supplying the best to our customers." text2="With this goal our company has been established in 2019 by a group of professionals and surgeons. One of worlds economic hubs,  London has been chosen to be our head office location. In a short time, we have gathered marketing sales teams in Tashkent(Uzbekistan) and Shymkent(Kazakhstan)." />


      <p class="p">
        Since the establishment of our company, we have done more than 1000 surgeries on our patients, more than 5000 lenses have been distributed to our partner clinics  several laboratories has been equipped exclusively by us and prospective representative offices establishment plans has entered our future plans.   
      </p>
    <img class="history_img" src="@/images/sections/banner.jpg" alt="">
  </div>
</template>

<script>
import PartnersBox from './PartnersBox.vue'
export default {
  components: { PartnersBox },

}
</script>

<style lang="scss" scoped>
.about_history{
  display: none;
    width: 1360px;
    margin: 0 auto;
    & .p{
        font-size: 25px;
        line-height: 37px;
        font-weight: 200;
    }
    & .partners-box{
        flex-direction: row-reverse;
    }
    & .history_img{
        margin-top: 60px;
        width: 100%;
        height: 300px;
    }
}
.d_blok{
    display: block;
}
</style>