<template>
    <div class="team_box">
        <div class="team_box_img">
            <img  :src="img_Url" alt="">
        </div>
        <div class="team_box_text">
            <h3>{{ title }}</h3>
            <p>{{ text }}</p>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        title:{
            type:String,
            default: ''
        },
        img_Url:{
            type:String,
            default: ''
        },
        text:{
            type:String,
            default: ''
        },
    }
}
</script>

<style lang="scss" scoped>
.team_box{
    width: 380px;
    height: 480px;
    margin-bottom: 40px;
    & .team_box_img{
        width: 380px;
        height: 386px;
        margin-bottom: 30px;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    & .team_box_text{
        & h3{
            font-family: 'Circe';
            font-size: 25px;
            line-height: 37px;
            text-transform: uppercase;
        }
        & p{
            font-size: 18px;
            line-height: 27px;
            font-family: 'Circe';
        }
        
    }
}
</style>