<template>
  <div class="about_team container">
        <h2 class="title">Development Team</h2>

        <div class="team_box_parent">
            <about-team-box :img_Url="require('@/images/users/1.png')" text="Web Designer" title="Abramov Karim"/>
            <about-team-box :img_Url="require('@/images/users/2.png')" text="Web developer" title="Malik kurpatov"/>
            <about-team-box :img_Url="require('@/images/users/3.png')" text="Web developer" title="Diniel slain"/>
            <about-team-box :img_Url="require('@/images/users/4.png')" text="Web developer" title="Courchevel melodes"/>
        </div>

        <h2 class="title">Medical staff team</h2>
        <div class="team_box_parent">
            <about-team-box :img_Url="require('@/images/users/5.png')" text="Web Designer" title="Abramov Karim"/>
            <about-team-box :img_Url="require('@/images/users/6.png')" text="Web developer" title="Malik kurpatov"/>
            <about-team-box :img_Url="require('@/images/users/7.png')" text="Web developer" title="Diniel slain"/>
            <about-team-box :img_Url="require('@/images/users/8.png')" text="Web developer" title="Courchevel melodes"/>
            <about-team-box :img_Url="require('@/images/users/5.png')" text="Web Designer" title="Abramov Karim"/>
            <about-team-box :img_Url="require('@/images/users/6.png')" text="Web developer" title="Malik kurpatov"/>
            <about-team-box :img_Url="require('@/images/users/7.png')" text="Web developer" title="Diniel slain"/>
            <about-team-box :img_Url="require('@/images/users/8.png')" text="Web developer" title="Courchevel melodes"/>
            <about-team-box :img_Url="require('@/images/users/5.png')" text="Web Designer" title="Abramov Karim"/>
            <about-team-box :img_Url="require('@/images/users/6.png')" text="Web developer" title="Malik kurpatov"/>
            <about-team-box :img_Url="require('@/images/users/7.png')" text="Web developer" title="Diniel slain"/>
            <!-- <about-team-box :img_Url="require('@/images/users/8.png')" text="Web developer" title="Courchevel melodes"/> -->
        </div>
  </div>
</template>

<script>
import AboutTeamBox from './AboutTeamBox.vue'
export default {
  components: { AboutTeamBox },

}
</script>

<style lang="scss" scoped>
.about_team{
    display: none;
    & .team_box_parent{
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 40px;
        row-gap: 50px;
    }
    & h2{
        font-size: 35px;
        line-height: 52px;
        font-family: 'Circe';
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}
.d_blok{
    display: block;
}
</style>