<template>
  <div class="blog_card">
    <div class="blog_card_img">
        <img :src="scrURL" alt="">
    </div>
    <div class="blog_card_text">
        <span>{{ data }}</span>
        <p>{{ text }}</p>
    </div>
  </div>
</template>

<script>
export default {
    props:{
        data:{
            type:String,
            default:''
        },
        text:{
            type:String,
            default:''
        },
        scrURL:{
            type:String,
            default:''
        },
    }
}
</script>

<style lang="scss" scoprd>
.blog_card{
    border-radius: 10px;
    width: 520px;
    height: 500px;
    position: relative;
    overflow: hidden;
    transition: .4s;
    & img{
        width: 100%;
        height: 100%;
    }
    & .blog_card_text{
        position: absolute;
        bottom: 39px;
        left: 48px;
        box-sizing: border-box;
        padding: 27px 30px;
        background: #FFFFFF;
        border-radius: 10px;
        width: 425px;
        height: 120px;
        transition: .3s all;
        color: #000;
        & span{
            color: #979797;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
        }
        & p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            margin-top: 12px;
            font-size: 14px;
            line-height: 17px;
        }
        &:hover{
            background: #1D6DC3;
            box-shadow: -10px 14px 60px rgba(29, 109, 195, 0.25);
            color: #FFFFFF;
            & span{
                color: #FFFFFF;
            }
        }
    }
    &:hover{
        box-shadow: 6px 10px 35px rgba(0, 0, 0, 0.3);
    }
}
.blog_card2{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: unset;
    box-sizing: border-box;
    transition: .4s;
    & img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    & .blog_card_text{
        position: absolute;
        bottom: 0px;
        // right: 250px;
        left: 350px;
        top: 0px;
        padding: 50px 50px;
        background: #FFFFFF;
        border-radius: 10px;
        width: 650px;
        height: 300px;
        transition: .3s all;
        & span{
            color: #979797;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
        }
        & p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            margin-top: 12px;
            font-size: 22px;
            line-height: 35px;
        }
        &:hover{
            background: #1D6DC3;
            box-shadow: -10px 14px 60px rgba(29, 109, 195, 0.25);
            color: #FFFFFF;
            & span{
                color: #FFFFFF;
            }
        }
    }
    &:hover{
        box-shadow: 6px 10px 35px rgba(0, 0, 0, 0.3);
    }
}
</style>