<template>
  <carousel
    class="card_carusel"
    :per-page="3"
    :mouse-drag="false"
    :autoplay="true"
    :autoplayHoverPause="true"
    :autoplayTimeout="3000"
    :perPage="4"
    :mouseDrag="true"
  >
    <slide v-for="(item, i) in cardArr" :key="i">
      <cards 
      :imgUrl="item.imgUrl" 
      :oldPrice="item.del_price" 
      :price="item.price" 
      :text="item.text" 
      :title="item.title"
      @cardClick="$router.push({ name: 'CatalogPraduct', params: {postId: item.id} })"
      />
    </slide>
  </carousel>
</template>

<script>
import card from '@/card.js'
import { Carousel, Slide } from "vue-carousel";
import Cards from './Cards/Cards.vue';
export default {
  name: 'carusel-data',
  components: {
    Carousel,
    Slide,
    Cards,
  },
  data() {
      return{
        cardArr: card,
      }
  }
};
</script>

<style lang="scss" >
.card_carusel {
  justify-content: space-between;
  position: relative;
  margin-bottom: 150px;
  margin-top: 50px;
  & .VueCarousel-wrapper{
    
    & .VueCarousel-inner{
      justify-content: space-between;
      & .VueCarousel-slide{
        text-align: center;
      }
    }
  }
  & .VueCarousel-pagination{
      position: absolute;
      top: 500px !important;
      & .VueCarousel-dot {
        width: 36px !important;
        height: 6px !important;
        background: #aca9a9 !important;
        border-radius: unset;
        padding: 0 !important;
        margin-left: 21px;
        
      }
      & .VueCarousel-dot--active{
        background: #1D68BF !important;
        width: 35px !important;
        height: 8px !important;
        padding: 0 !important;
      }
  }
}

.card_box{
  width: 380px;
  height: 450px;
  border-radius: 10px;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: .3s;
  &:hover{
    box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.2);
  }
  & .card_img{
    padding-top: 30px;
    text-align: center;
    height: 220px;
  }
  & .card_text{
    padding: 32px;
    text-align: left;
    & h3{
      font-size: 18px;
      font-family: 'Montserrat';
      margin-bottom: 6px;
      font-weight: 600;
      margin-top: 15px;
      color: #000;
    }
    & span{
      font-family: 'Circe';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #808080;
      opacity: 0.7;
    }
    & p{
      margin-top: 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #808080;
      text-decoration: line-through;
      font-family: 'Montserrat';
    }
    & .price_box{
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      & h2{
        font-size: 43px;
        color: #1D68BF;
        font-family: 'Montserrat';
      }
      & svg{
        & path{
          transition: .3s;
          }
        &:hover{
          cursor: pointer;
          & path{
            fill: #1d68bf;
          }
        }
        
        
      }
      
    }
  }
}
</style>