<template>
    <carousel class="karusell" 
    :per-page="1" 
    :navigationEnabled="true" 
    :mouse-drag="false"
    :autoplay="true"
    :autoplayHoverPause="true"
    :autoplayTimeout="3000"
    :perPage="4"
    :mouseDrag="true"
    >
      <slide>
        <img  src="@/images/brends/tekno.png" alt="">
      </slide>
      <slide>
        <img  src="@/images/brends/aeomed.png" alt="">
      </slide>
      <slide>
        <img  src="@/images/brends/axion.png" alt="">
      </slide>
      <slide>
        <img  src="@/images/brends/genoray.png" alt="">
      </slide>
      <slide>
        <img  src="@/images/brends/tekno.png" alt="">
      </slide>
      <slide>
        <img  src="@/images/brends/aeomed.png" alt="">
      </slide>
      <slide>
        <img  src="@/images/brends/axion.png" alt="">
      </slide>
      <slide>
        <img  src="@/images/brends/genoray.png" alt="">
      </slide>
      <slide>
        <img  src="@/images/brends/tekno.png" alt="">
      </slide>
      <slide>
        <img  src="@/images/brends/aeomed.png" alt="">
      </slide>
      <slide>
        <img  src="@/images/brends/axion.png" alt="">
      </slide>
      <slide>
        <img  src="@/images/brends/genoray.png" alt="">
      </slide>
      
    </carousel>
</template>

<script>
import Vue from 'vue';
import VueCarousel from 'vue-carousel';

Vue.use(VueCarousel);
import { Carousel, Slide } from 'vue-carousel';
export default {
   components: {
    Carousel,
    Slide
  }
    
};
</script>

<style lang="scss">
.karusell{
  margin-top: 50px;
  & .VueCarousel-wrapper{
    & .VueCarousel-inner{
      & .VueCarousel-slide{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
  & .VueCarousel-pagination{
      position: absolute;
      top: 180px !important;
      & .VueCarousel-dot {
        width: 36px !important;
        height: 6px !important;
        background: #aca9a9 !important;
        border-radius: unset;
        padding: 0 !important;
        margin-left: 21px;
        
      }
      & .VueCarousel-dot--active{
        background: #1D68BF !important;
        width: 35px !important;
        height: 8px !important;
        padding: 0 !important;
      }
  }
    
  & .VueCarousel-navigation{
    position: absolute;
    top: 220px !important;
    left: 700px;
    z-index: 3;
    & .VueCarousel-navigation-button {
      color: transparent !important;
      background: unset;
    }
    & .VueCarousel-navigation-next{
      position: absolute;
      background-image: url('@/images/icons/left.svg');
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center center;
      left: 270px;
      cursor: pointer;
    }
    & .VueCarousel-navigation-prev{
      position: absolute;
      background-image: url('@/images/icons/reight.svg');
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center center;
      left: 25px;
      cursor: pointer;
    }
    
    
  }
}



</style>