<template>
    <div class="catalog_carusel">
      <carousel class="karusel" 
      :per-page="1" 
      :navigationEnabled="true" 
      :mouse-drag="false"
      :autoplay="true"
      :autoplayHoverPause="true"
      :autoplayTimeout="3000"
      :perPage="4"
      :mouseDrag="true"
      >
        <slide>
        <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        </slide>
        <slide>
          <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
          <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        </slide>
        <slide>
        <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        </slide>
        <slide>
          <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
          <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        </slide>
        <slide>
        <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        </slide>
        <slide>
          <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
          <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        </slide>
        <slide>
        <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        </slide>
        <slide>
          <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
          <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        </slide>
        <slide>
        <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        </slide>
        <slide>
          <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
          <catalog-card :scrURL="require('@/images/brends/yashil.png')" title="Физиотерапия" text="When, while lovely valley teems with vapour around meand"/>
        </slide>
      </carousel>
    </div>
    
</template>

<script>
import Vue from 'vue';
import VueCarousel from 'vue-carousel';

Vue.use(VueCarousel);
import { Carousel, Slide } from 'vue-carousel';
import CatalogCard from './CatalogCard.vue';
export default {
   components: {
    Carousel,
    Slide,
    CatalogCard
  }
    
};
</script>

<style lang="scss" >
.catalog_carusel{
  & .karusel{
    justify-content: space-between;
    position: relative;
    & .VueCarousel-pagination{
        position: absolute;
        top: 560px !important;
        & .VueCarousel-dot {
          width: 36px !important;
          height: 6px !important;
          background: #aca9a9 !important;
          border-radius: unset;
          padding: 0 !important;
          margin-left: 21px;
          
        }
        & .VueCarousel-dot--active{
          background: #1D68BF !important;
          width: 35px !important;
          height: 8px !important;
          padding: 0 !important;
        }
    }
    & .VueCarousel-wrapper{
      justify-content: space-between;
    }
    & .VueCarousel-navigation{
      display: none;  
    }
  }
}



</style>