<template>
  <div class="catalog_card">
     <img :src="scrURL" alt="">
     <h3>{{title}}</h3>
     <p>{{ text }}</p>
  </div>
</template>

<script>
export default {
    props:{
        title:{
            type:String,
            default:''
        },
        text:{
            type:String,
            default:''
        },
        scrURL:{
            type:String,
            default:''
        },
    }
}
</script>

<style  lang="scss" scoprd>
.catalog_card{
    background: #FFFFFF;
    width: 350px;
    height: 250px;
    padding: 32px;
    padding-top: 42px;
    margin-bottom: 36px;
    transition: .4s;
    & h3{
        font-size: 25px;
        line-height: 30px;
        font-family: 'Montserrat';
        margin-top: 15px;
        margin-bottom: 15px;
    }
    & p{
        font-size: 18px;
        line-height: 27px;
        font-family: 'Circe';
    }
    &:hover{
        box-shadow: 0px 20px 30px rgba(171, 175, 199, 0.5);
    }
}
</style>