<template>
  <div class="wrapper container">
    <div class="btns">
        <button v-for="(country, idx) in countries" 
        :key="country.name"
        :class="{ active: activeBtn === idx}"
        @click="activeBtn = idx"
        >
            <img class="flag_img" :src="country.flag" alt="flag">
            {{country.name}}
        </button>
    </div>

    <div class="blogs">
         <div class="blogs_top" v-html="countries[activeBtn].map">

        </div>
        <div class="blogs_buttom">

            <div class="boxs">
                <h3>Adress</h3>
                <a :href="countries[activeBtn]['address'].link" target="_blank">
                    {{ countries[activeBtn].address.text }}</a>
            </div>
            <div class="boxs">
                <h3>Phone</h3>
                <a :href="`tel: ${countries[activeBtn]['phone'].link}`" >
                    {{countries[activeBtn]['phone'].link}}</a>
            </div>
            <div class="boxs">
                <h3>Email</h3>
                <a :href="`mailto: ${countries[activeBtn].email}`">{{countries[activeBtn].email}}</a>
            </div>
            <div class="boxs">
                <h3>Website</h3>
                <a :href="countries[activeBtn].website.link" target="_blank">
                    {{countries[activeBtn].website.text}}
                </a>
                
            </div>
        </div>

       
    </div>
  </div>
</template>

<script>
export default {

    data(){
        return{
            activeBtn: 0,
            countries: [
                {
                    name: 'Uzbekiston',
                    address:{
                        text:'Toshkent City, Uzbekiston',
                        link:'https://google/maps/cT3K9dpje5BtnbXa8'
                    },
                    phone: {
                        text: '+998978092026',
                        link:'+998978092026',
                    },
                    email:'uzb@example.com',
                    website:{
                        text:'hoshim-html-hacker.io',
                        link:'https//goole.com'
                    },
                    flag:require('@/images/brends/UZB.png'),
                    map:`<iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.2084506766523!2d69.24448011481698!3d41.30432867927187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8bf3870c714d%3A0x6ddece20c220333b!2z0J_QsNGA0LogTWFnaWMgQ2l0eQ!5e0!3m2!1sru!2s!4v1659026257051!5m2!1sru!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>`,
                },
                {
                    name: 'Turkiya',
                    address:{
                        text:'Istambul City, Turkiya',
                        link:'https://google/maps/xpMwtpLUaM9sMML48'
                    },
                    phone: {
                        text: '+998978092000',
                        link:'+998978092000',
                    },
                    email:'turkey@example.com',
                    website:{
                        text:'mehmet-html-hacker.io',
                        link:'https//google.com'
                    },
                    flag:require('@/images/brends/Turkiya.webp'),
                    map:`<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d384770.268194613!2d28.46337473699889!3d41.11230406283165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9be92011c27%3A0x236e6f6f37444fae!2z0KHQvtCx0L7RgCDQodCy0Y_RgtC-0Lkg0KHQvtGE0LjQuA!5e0!3m2!1sru!2s!4v1659026484556!5m2!1sru!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>`,
                },
                {
                    name: 'AQSH',
                    address:{
                        text:'New-York City, AQSH',
                        link:'https://google/maps/AuEy4cGsiCwspxEe7'
                    },
                    phone: {
                        text: '+998978094040',
                        link:'+998978094040',
                    },
                    email:'aqsh@example.com',
                    website:{
                        text:'hoshim-html-hacker.io',
                        link:'https//google.com'
                    },
                    flag:require('@/images/brends/USA.jpg'),
                    map:`<iframe wi src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3060762355!2d-74.25987551247054!3d40.697149395077545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2s!4v1659026562515!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>`,
                },
                
                
            ]
        }
    }
}
</script>

<style lang="scss">
.wrapper{
    margin-top: 50px;
    // background: #000;
    color: #000;
    & .btns{
        display: flex;
        justify-content: center;
        gap: 30px;
        & button{
            padding: 10px 30px;
            padding: 21px 35px;
            padding-right: 50px;
            transition: .4s;
            border-radius: 10px;
            background: #fff;
            font-size: 25px;
            line-height: 30px;
            font-family: 'Montserrat';
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: none;
            & .flag_img{
                width: 62px;
                height: 39px;
                margin-right: 40px;
            }
            &.active{
                background: #2268C8;
                box-shadow: -10px 40px 60px rgba(0, 0, 0, 0.25);
                color: #fff;
            }
        }
    }
    & .blogs{
        margin-top: 50px;
        & .blogs_buttom{
            display: grid;
            grid-template-columns: auto auto;
            gap: 50px 50px;
            width: 1200px;
            margin: 0 auto;
            & .boxs{
                color: #000;
                & h3{
                   font-size: 35px;
                    line-height: 52px;
                    font-family: 'Circe';
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                & a{
                    font-size: 25px;
                    line-height: 30px;
                    font-family: 'Montserrat';
                    color: #000;
                    transition: .3s;
                    &:hover{
                        color: #1D5FB9;
                    }
                }
            }
        }
        & .blogs_top{
            width: 100%;
            height: 500px;
            margin-bottom: 50px;
            // background: rgba(255, 255, 255, 0.2);
            &.iframe{
                width: 100%;
                height: 100%;
                border: none;
            }
            & iframe{
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }
}

</style>