<template>
  <div class="customer_card">
     <img class="customer_img" :src="require(`@/images/users/${src}`)" alt="">
     <p>{{ text }}</p>
     <h3>{{ name }}</h3>
     <h2>{{ job }}</h2>
  </div>
</template>

<script>
export default {
    props:{
        src:{
            type: String,
            default:''
        },
        text:{
            type: String,
            default:''
        },
        name:{
            type: String,
            default:''
        },
        job:{
            type: String,
            default:''
        },
    }
}
</script>

<style lang="scss">
.customer_card{
    width: 520px;
    height: 300px;
    background: #192431;
    border-radius: 10px;
    color: #fff;
    box-sizing: border-box;
    padding: 31px 55px;
    padding-top: 91px;
    position: relative;
    transition: .4s all;
    & .customer_img{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        top: -50px;
        left: 40px;
    }
    & p{
        font-size: 18px;
        line-height: 27px;
        font-family: 'Circe';
        letter-spacing: .9px;
        margin-bottom: 25px;
    }
    & h3{
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        font-family: 'Circe';
    }
    & h2{
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        font-family: 'Circe';
    }
    &:hover{
        background: #1D6DC3;
        box-shadow: -10px 30px 60px rgba(29, 109, 195, 0.25);
        transform: translateY(-15px);
    }
}
</style>