<template>
  <div class="customer">
    <div class="container">
      <Title :link="test.title_link" :link_name="test.title_link_name" :title="test.title_name" :isLight_title="true"/>
      <div class="customer_inner">
        <customer-card job="CEO Barbaris Medical Clinic" src="odam1.jpg" text="We are idea generators, goal seekers, hallenge-thirsty professionals, creators of unique Internet projects. We deliver unconventional. " name="Abdulatif Barbarisov"/>
        <customer-card job="CEO Barskix Medical Clinic" src="odam3.jpg" text="We are idea generators, goal seekers, hallenge-thirsty professionals, creators of unique Internet projects. We deliver unconventional. " name="Max Barskix"/>
        <customer-card job="CEO Barbaris Medical Clinic" src="odam2.jpg" text="We are idea generators, goal seekers, hallenge-thirsty professionals, creators of unique Internet projects. We deliver unconventional. " name="Anna Karenina"/>
      </div>
    </div>
  </div>
</template>

<script>
import CustomerCard from './CustomerCard.vue'
import Title from './Title.vue'
export default {
  components: { CustomerCard, Title },
  data() {
    return{
      test: {
        title_link: '/',
        title_link_name: 'Testimonial',
        title_name:'We Care About Our Customers Experience Too',
      },
    }
  }
}
</script>

<style lang="scss" scoped>
.customer{
  width: 100%;
  background: #081420;
  height: 770px;
  padding-top: 40px;
  margin-bottom: 80px;
  & .container{
    & .customer_inner{
      width: 100%;
      margin-top: 142px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
}
</style>