<template>
  <div class="text_component">
    <p class="avto_link">{{ link_name }} </p>
    <h1 class="h1">{{ name }} </h1>
    <p class="p">{{ text }} </p>
    <div class="buttons">
        <blue-button class="blue-button" button_name="Get started"/>
        <button class="white_button">{{ button_name }}</button>
    </div>
  </div>
</template>

<script>
import BlueButton from './BlueButton.vue'
import WhiteButton from './WhiteButton.vue'
export default {
  components: { BlueButton, WhiteButton },
     props:{
        name:{
            type:String,
            default:''
        },
        text:{
            type:String,
            default:''
        },
        link_name:{
            type:String,
            default:''
        },
        button_name:'',
        
    },
    data() {
        return{
           
        }

        
    }
}
</script>

<style lang="scss" scoped>
.text_component{
    width: 690px;
    & .avto_link{
        text-align: left;

    }
    & h1{
        margin-bottom: 10px;
    }
    & .buttons{
        display: flex;
        margin-top: 30px;
        flex-direction: row;
        & .blue-button{
            margin-right: 48px;
        }
        .white_button{
            padding: 18px 56px;
            background: #FFFFFF;
            box-shadow: -15px 20px 50px rgba(29, 104, 191, 0.3);
            border-radius: 50px;
            border-radius: 50px;
            color: #1D68BF;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: .9px;
            border: none;
            cursor: pointer;
            transition: .4s all;
            &:hover{
                background: #1D68BF;
                color: #fff;
            }
        }
    }
}
</style>