<template>
        <div class="leng">
          <button class="leng_button"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            @click="isOpen()"
          >
            {{base}}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>

          <ul
            class="leng_link"
            :class="{ 'leng_link_blok': isOpenn }"
            @click="isClose()"
          >
            <li v-for="our in ours" 
             :key="our.id" @click="changee(our.id)" >
              <a 
                href="#"
                >{{our.name}}</a
              >
            </li>
          </ul>
        </div>
</template>

<script>
  export default {
    data(){
      return {
        base: 'uzb',
        isOpenn: false,
        isActive: false,
        ours: [
          {name: "O'zbekcha", lan:"uzb", id:1},
          {name: "English", lan:"en", id:2},
          {name: "Русский", lan:"ru", id:3}
        ],
        
      }
    },
    methods:{
      isOpen(){
        this.isOpenn = true
      },
      changee(id){
        this.base= this.ours.filter(c=>c.id === id)[0].lan
        this.$i18n.locale = this.base
      },
      isClose(){
        this.isOpenn = false
      }
     


    }
  }
</script>

<style  lang="scss">
.leng{
  margin: 10px;
  width: 40px;
  height: 20px;
  position: relative;
  & .leng_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: #111315;
    border: none;
    background: transparent;
    transition: .2s;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    line-height: 24px;
    & svg{
      width: auto;
      height: 20px;
      margin-left: 8px;
      color: #111315;
      & path{
        width: auto;
        height: 10px;
        color: #111315;

      }
    }
  }
  & .leng_link{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s;
    width: 140px;
    height: 110px;
    padding: 10px;
    margin-top: 20px;
    right: -35px;
    background: #FFFFFF;
    box-shadow: 0px 5px 29px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 5px 5px;
    & li{
      margin: 6px;
      list-style: none;
      &  a{
        text-decoration: none;
        color: #111315;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 20px;
        line-height: 19px;
      }
    }
  }
  & .leng_link_blok{
    opacity: 1;
    visibility: visible;
  }
  .active{
    color: blue;
  }
}



</style>