<template>
  <div class="partner_box">
    <div class="partner_box_img">
        <img  :src="imgUrl" alt="">
    </div>
    <div class="partner_box_text">
        <p class="p">{{ text1 }}</p>
        <p class="p">{{ text2 }}</p>
    </div>
  </div>
</template>

<script>
export default {
    props:{
        text1:{
            type:String,
            default:''
        },
        text2:{
            type:String,
            default:''
        },
        imgUrl:{
            type:String,
            default:''
        },
    }
}
</script>

<style lang="scss" scoped>
.partner_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    & .partner_box_img{
        width: 560px;
        height: 399px;
        overflow: hidden;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    & .partner_box_text{
        width: 660px;
        & p{
            font-size: 25px;
            font-weight: 300;
            line-height: 37px;
        }
    }
}
</style>