<template>
  <div class="title" :class="{ active: isLight_title }">
    <router-link class="title_link" :to="link">{{ link_name }}</router-link>
    <h3 class="title_name">{{ title }}</h3>
  </div>
</template>

<script>
export default {
    name:'Title',
    props:{
        link: String,
        link_name: String,
        title: String,
        isLight_title: {
            type: Boolean,
            default: () => false
        }
    }
}
</script>

<style lang='scss'>
.title{
    width: 830px;
    margin: 10px auto;
    text-align: center;
    & .title_link{
        color: #1D6DC3;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    & .title_name{
        color: #000000;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        margin-top: 15px;
    }
    &.active{
        & .title_name{
            color: #fff;
        }
    }
}
</style>