<template>
  <button class="white_button">{{ button_name }}</button>
</template>

<script>
export default {
    props:{
        button_name:'',
    }
}
</script>

<style lang="scss" scoped>
.white_button{
    padding: 18px 56px;
    background: #FFFFFF;
    box-shadow: -15px 20px 50px rgba(29, 104, 191, 0.3);
    border-radius: 50px;
    border-radius: 50px;
    color: #1D68BF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .9px;
    border: none;
    cursor: pointer;
    transition: .4s all;
    &:hover{
        background: #1D68BF;
        color: #fff;
    }
}
</style>
