<template>
  <div class="footer">
    <div class="footer_top container">
        <div class="contact_form">
          <div class="contact">
              <h3>Contact us</h3>
              <h2>Contact with us</h2>
              <p>There are many variations of passages of Lorem Ipsum available  but the majority have suffered alteration in some formed humour .</p>
              <div class="social">
                  <a href="#">
                    <img src="@/images/icons/facebook.svg" alt="facebook">
                  </a>
                      
                  <a href="#">
                    <img src="@/images/icons/telegram.svg" alt="telegram">
                  </a>
                  <a href="#">
                    <img src="@/images/icons/linkedin 1.svg" alt="linkedin">
                  </a>
                  <a href="#">
                    <img src="@/images/icons/twitter.svg" alt="twitter">
                  </a>
              </div>
          </div>
          <form class="form" @click.prevent>
              <input type="email" placeholder="Enter your Email ...">
              <textarea placeholder="Enter your comments ..."></textarea>
              <blue-button class="btn" button_name="Send"/>
              
          </form>
        </div>
    </div>
    <div class="footer_inner container">
        <div class="footer_inner_box">
          <router-link class="it_lab" to="/">ITlab</router-link> 
          <p class="p">Copyright © 2020 BioLab 
            <br> All rights reserved 
          </p>
          <div class="social">
                
                <a href="#" >
                  <img src="@/images/icons/twitter.svg" alt="twitter">
                </a>
                <a href="#">
                  <img src="@/images/icons/linkedin 1.svg" alt="linkedin">
                </a>
                <a href="#">
                   <img src="@/images/icons/telegram.svg" alt="telegram">
                </a>
                <a href="#">
                  <img src="@/images/icons/facebook.svg" alt="facebook">
                </a>
                
          </div>
        </div>
        <div class="footer_inner_box">
          <router-link to="/About">About</router-link> 
          <p class="p">We are idea generators, goal seekers, challenge-thirsty professionals, creators of unique Internet projects. We deliver unconventional solutions each project is a meaningful adventure. </p>
        </div>
        <div class="footer_inner_box">
          <router-link to="/Contact">Contact</router-link> 
          <p class="p">We are idea generators, goal seekers, challenge-thirsty professionals, creators of unique Internet projects we deliver. </p>
        </div>
        <div class="footer_inner_box">
          <a :href='`https://goo.gl/maps/Ew2sLQkMjtFWqcUF9`' target="_blank"  >Location</a> 
          <div class="karta">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11983.126191395493!2d69.28159783968799!3d41.33536339070612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b5261aef9ef%3A0x82a0cb91e48981c0!2z0JHQvtC00LDQvNC30LDRgA!5e0!3m2!1sru!2s!4v1660280477509!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          
        </div>
    </div>
  </div>
</template>

<script>
import BlueButton from '../BlueButton.vue'
export default {
  components: { BlueButton },

  data(){
    return{
      
    }
  }
}
</script>

<style src="./Footer.scss" lang="scss" scoped></style>