.footer{
    background: #081420;
    height: 650px;
    width: 100%;
    margin-top: 290px;
    & .footer_top{
        margin: 0 auto;
        position: relative;
        top: -200px;
        min-height: 353px;
        & .contact_form{
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: space-between !important;
            align-items: center;
            background: linear-gradient(90deg, #1D5FB9 0%, #2977E1 100%);
            border-radius: 20px;
            padding: 56px 100px;
            & .contact{
                color: #fff;
                & h3{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 30px;
                    margin-bottom: 8px;
                }
                & h2{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 49px;
                    line-height: 60px;
                    margin-bottom: 8px;
                }
                & p{
                    font-family: 'Circe';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 21px;
                    margin-bottom: 25px;
                    letter-spacing: .9px;
                }

                & .social{
                    margin-top: 35px;
                    & a{
                        margin-right: 44px;
                        & img{
                            transition: .3s;
                        }
                        &:nth-child(5){
                            margin-right: 0;
                        }
                        &:hover{
                            & img{
                                
                                transform: scale(1.1);
                            }
                        }
                    }
                }
        
            }
            & .form{
                position: relative;
                margin-left: 150px;
                & input{
                    background: #FFFFFF;
                    border-radius: 10px;
                    width: 800px;
                    height: 75px;
                    padding: 24px 37px;
                    border: none;
                    outline: none;
                    font-size: 25px;
                    margin-bottom: 30px;
                    &::placeholder{
                        color: #B9B9B9;
                        font-family: 'Circe';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 37px;
                    }
                }
                & textarea{
                    width: 800px;
                    height: 130px;
                    padding: 24px 37px;
                    background: #FFFFFF;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    resize: none;
                    font-size: 25px;
                    &::placeholder{
                        color: #B9B9B9;
                        font-family: 'Circe';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 37px;
                    }
                }
                & .btn{
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                }
            }
        }
    }
    & .footer_inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 0;
        & .footer_inner_box{
            width: 370px;
            & .social{
                width: 180px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 51px;
                overflow: hidden;
                & a{
                    & img{
                        width: 22px;
                        height: auto;
                        transition:.3s;
                    }
                    &:hover{
                        & img{
                            transform: scale(1.1);
                        }
                    }
                }
            }
            & .p{
                color: #fff;
                font-weight: 500;
                letter-spacing: .9px;
                margin-top: 39px;
            }
            & a{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 39px;
                color: #fff;
                transition: .4s all;
                margin-bottom: 39px !important;
                &:hover{
                    color: #2977E1;
                }
            }
            & .it_lab{
                font-size: 35px;
                &:hover{
                    color: #FFFFFF;
                }
            }
            & .karta{
                background: #C4C4C4;
                border-radius: 10px;
                height: 173px;
                width: 100%;
                overflow: hidden;
                margin-top: 39px;
                & img{
                    width: 100%;
                    height: 100%;
                }
                
            }
        }
    }
}